<footer class="footer py-4 test-center">
    <div class="container">
        <p class="mb-4 fw-bold">
            Proyecto de tareas® :: <span>2022</span>
        </p>
    </div>
</footer>

<script>
    let fecha = new Date();
    let miFecha = fecha.toLocaleDateString()
</script>